/* CSS code for the navigation bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-main-con {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.logo-img img {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 700px;
  object-position: center;
}

.logo-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.poster-text {
  position: absolute;
  top: 30%;
  left: 3%;
  width: 50%;
  color: white;
}

.movie-title {
  font-size: 50px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}

.movie-overview {
  color: lightgray;
  width: 700px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis " [-]";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-overview::first-letter {
  font-size: 100px;
  color: #ff0000;
}

.rating {
  font-size: 25px;
  text-transform: uppercase;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-btn button {
  width: 150px;
  height: 40px;
}

.hero-btn1 {
  outline: none;
  border: none;
  box-shadow: inset 0 0 10px black;
  background-color: #ff0000;
  color: whitesmoke;
}

.hero-btn2 {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  box-shadow: 0 0 5px whitesmoke;
  cursor: not-allowed;
}

.hero-btn1:hover {
  background-color: #ff0000;
  color: wheat;
  transition: 1.5s;
}

.hero-btn2:hover {
  background-color: black;
  color: white;
  transition: 1.5s;
}

.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.drop-down {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  position: absolute;
  content: "";
  top: 0px;
  width: 100%;
  background-color: transparent !important;
  left: 0;
  z-index: 1;
  padding: 18px;
  gap: 3rem;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown a {
  background-color: transparent;
  border: none !important;
}
.drop-down ul{
  background-color:rgba(0, 0, 0, 0.7) !important;
}
.dropdown-links{
 text-decoration: none;
}

.dropdown-links:hover{
  color: #ff0000 !important;
  text-decoration: underline;
}

ul {
  background-color: transparent !important;
}

ul a {
  color: white !important;
}



li a:hover {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid gray !important;
}
.sub {
  font-size: 30px;
  color: whitesmoke;
  margin-top: 5px;
}

.sub:hover {
  color: #ff0000;
}

#navbar {

  background-color: rgba(0, 0, 0, 0.4) !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.profile-btn:hover div {
  display: block;
  background-color: black !important;
  width: 100px;
}
button{
  outline: none;
}
.help-center-icon{
  font-size: 20px;
 margin-left: -27px;
 margin-right: 10px;
}
.account-icon{
 font-size: 20px;
 margin-left:-55px ;
 margin-right: 10px;
}
.edit-icon{
  font-size: 20px;
  margin-right: 10px;
 
}
@media (max-width:768px){
 
  .hero-main-con {
    position: relative;
    overflow: hidden;
    background-color: black;
  }
  .drop-down {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position: absolute;
    content: "";
    top: 0px;
    width: 100%;
    height: 60px !important;
    background-color: transparent !important;
    left: 0;
    padding-inline: 0px;
    gap:10px;
    z-index: 1;
    background-color: transparent;
  }
  #navbar {

    background-color:transparent;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .dropdown a {
  
    font-size: 10px;
    margin-left: -20px !important;
padding-top: 15px !important;
margin-right: -5px;
  }
  .sub{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 15px;
  }
    .hero-main-con {
      width: 100%;
      
     
    }
    .poster-text {
      width: 100%;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left; 
      padding: 20px;
    }
  .movie-title{
    font-size:2rem;
  }
 .first-title{
  font-size: 2rem !important;
 }
 .second-title{
  font-size: 2rem !important;
 }
 .third-title{
  font-size: 2rem !important;
 }
   
    .movie-overview {
      color: lightgray;
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow:clip;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .movie-overview::first-letter{
      font-size:xx-large
    }
    .rating {
      font-size: 15px; 
    }
  
    .hero-btn {
      flex-direction: column; 
      gap: 10px; 
    }
    .hero-btn button{
      font-size: small;
      width: 100px;
      height: 30px !important;
      box-shadow: none;
    }
    
    .release-date{
      font-size: 15px; 
       }

  
   .logo-img img {
    width: 100%;
    height: 400px !important; 
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover !important;
    
  } 
  

  
  .play-circle{
    font-size: 1rem;
    margin-left: -15px;
  }


}

